*{
    background-color: black;
}
CSS
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

header {
    display: flex;
    padding: 20px;
    color:white;
    position:relative;
    top:129px;
    left:109px;

}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    position:relative;
    top:250px;
    left:1080px;
    color:white;
}

nav a   
 {
    text-decoration: none;
    color:    
inherit;
}

h1 {
    font-size: 2rem;
    
}

p {
    font-size: 1.2rem;
}